<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'IssueTrackingSystem/images/favicon.png' %}">
		<title>Issue Tracker</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'IssueTrackingSystem/dist/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{% static 'IssueTrackingSystem/custom_css/carousel.css' %}" rel="stylesheet">
		<link href="{% static 'IssueTrackingSystem/custom_css/app.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="container menucontainer">
			<div class="col-md-6">
				<ul class="nav nav-pills">
					<li><a href="/IssueTrackingSystem/dashboard">Dashboard</a></li>
					{% if 'ADM' == request.session.LOGGED_IN_USER_ROLE %}
						<li><a href="/IssueTrackingSystem/home">Home</a></li>
					{%endif%}
					<li class="active"><a href="#">Open Queries</a></li>
					<li><a href="/IssueTrackingSystem/resolvedQueries">Resolved Queries</a></li>
					<li><a href="/IssueTrackingSystem/postquery">Post Query</a></li>
				</ul>	
			</div>
			<div class="col-md-4" style="border:0px solid red;padding:10px;text-align:center;font-family: cursive">
				<!--<div style="font-size:14px;position:absolute;valign:center;border:1px solid red;">Welcome, Binesh</div>	-->
				<span style="">Welcome, {{user.first_name}}</span>	
			</div>
			<div class="col-md-2" style="border:0px solid red">
				<ul class="nav nav-pills pull-right">
					<li class="active"><a href="/IssueTrackingSystem/logout">Logout</a></li>
				</ul>	
			</div>
		</div>
		<div class="container queryform">
			<div class="col-md-12" style="border:0px solid red;margin-bottom:8px;padding:0px;">
				<div class="col-md-10" style="border:0px solid blue;padding:2px;">
					<span class="label label-success" style="font-size:16px;">Open Queries</span>
				</div>
				<!--
				<div class="col-md-1" style="border:0px solid blue;padding:0px;">
					<button type="reset" class="btn btn-info pull-right">Reset</button>
				</div>
				<div class="col-md-1" style="border:0px solid blue;padding:0px;">
					<button type="submit" class="btn btn-info pull-right">Close</button>
				</div>
				-->
			</div>
			<div style="border:0px solid red;clear:both">
				{% if listIssues %}
				<table class="table table-bordered" style="margin-bottom:10px;">
					<thead>
						<tr style="background-color:#428bca;color:white">
							<!--
							<th style="text-align:center;">
								<input type="checkbox" value="">
							</th>
							-->
							<th style="text-align:center">Id</th>
							<th style="text-align:center">Title</th>
							<th style="text-align:center">Type</th>
							<th style="text-align:center">Posted By</th>
							<th style="text-align:center">Posted On</th>
							<th style="text-align:center">Assigned To</th>
							<th style="text-align:center">Assigned On</th>
						</tr>
					</thead>
					{% for Issue in listIssues %}
					<tr>
						<td style="text-align:center">
							{%if 'ADM' == request.session.LOGGED_IN_USER_ROLE or 'RES' == request.session.LOGGED_IN_USER_ROLE%}
								<a href="/IssueTrackingSystem/editQuery?issueId={{Issue.Id}}">{{Issue.Id}}</a>
							{%else%}
								<a href="/IssueTrackingSystem/viewquery?issueId={{Issue.Id}}">{{Issue.Id}}</a>
							{%endif%}
						</td>
						<td>
							{{Issue.IssueTitle}}
						</td>
						<td>
							{{Issue.IssueTypeCode}}
						</td>
						<td style="text-align:center">
							{{Issue.UserId}}
						</td>
						<td style="text-align:center">
							{{Issue.IssueRaisedOn}}
						</td>
						<td style="text-align:center">
							{{Issue.IssueAssignedTo}}
						</td>
						<td style="text-align:center">
							{{Issue.IssueAssignedOn}}
						</td>

					</tr>
					{% endfor %}
				</table>	
				{% else %}
					<p>No Issues are available.</p>
				{% endif %}
			</div>
			<!--
			<div class="col-md-12" style="border:0px solid red;margin-top:2px;margin-bottom:8px;padding:0px;">
				<div class="col-md-10" style="border:0px solid blue;padding:0px;">
					&nbsp;
				</div>
				<div class="col-md-1" style="border:0px solid blue;padding:0px;">
					<button type="reset" class="btn btn-info pull-right">Reset</button>
				</div>
				<div class="col-md-1" style="border:0px solid blue;padding:0px;">
					<button type="submit" class="btn btn-info pull-right">Close</button>
				</div>				
			</div>
			-->
		</div>
		{% if 'ADM' == request.session.LOGGED_IN_USER_ROLE or 'RES' == request.session.LOGGED_IN_USER_ROLE %}
		<div class="container queryform">
			<div class="col-md-12" style="border:0px solid red;margin-bottom:8px;padding:0px;">
				<div class="col-md-10" style="border:0px solid blue;padding:2px;">
					<span class="label label-success" style="font-size:16px;">Open Queries (Posted by {{user.first_name}})</span>
				</div>
				<!--
				<div class="col-md-1" style="border:0px solid blue;padding:0px;">
					<button type="reset" class="btn btn-info pull-right">Reset</button>
				</div>
				
				<div class="col-md-1" style="border:0px solid blue;padding:0px;">
					<button type="submit" class="btn btn-info pull-right">Close</button>
				</div>				
				-->
			</div>
			<div style="border:0px solid red;clear:both">
				{% if listIssuesPostedBySelf %}
				<table class="table table-bordered" style="margin-bottom:10px;">
					<thead>
						<tr style="background-color:#428bca;color:white">
							<!--
							<th style="text-align:center;">
								<input type="checkbox" value="">
							</th>
							-->
							<th style="text-align:center">Id</th>
							<th style="text-align:center">Title</th>
							<th style="text-align:center">Type</th>
							<th style="text-align:center">Posted By</th>
							<th style="text-align:center">Posted On</th>
							<th style="text-align:center">Assigned To</th>
							<th style="text-align:center">Assigned On</th>
						</tr>
					</thead>
					{% for Issue in listIssuesPostedBySelf %}
					<tr>
						<!--
						<td style="text-align:center;">
							<input type="checkbox" id="checkQuery" value="{{Issue.Id}}">
						</td>
						-->
						<td style="text-align:center">
							<a href="/IssueTrackingSystem/editQuery?issueId={{Issue.Id}}">{{Issue.Id}}</a>
						</td>
						<td>
							{{Issue.IssueTitle}}
						</td>
						<td>
							{{Issue.IssueTypeCode}}
						</td>
						<td style="text-align:center">
							{{Issue.UserId}}
						</td>
						<td style="text-align:center">
							{{Issue.IssueRaisedOn}}
						</td>
						<td style="text-align:center">
							{{Issue.IssueAssignedTo}}
						</td>
						<td style="text-align:center">
							{{Issue.IssueAssignedOn}}
						</td>

					</tr>
					{% endfor %}
				</table>	
				{% else %}
					<p>No Issues are available.</p>
				 
				{% endif %}
			</div>
			<div class="col-md-12" style="border:0px solid red;margin-top:2px;margin-bottom:8px;padding:0px;">
				<div class="col-md-10" style="border:0px solid blue;padding:0px;">
					&nbsp;
				</div>
				<!--
				<div class="col-md-1" style="border:0px solid blue;padding:0px;">
					<button type="reset" class="btn btn-info pull-right">Reset</button>
				</div>
				<div class="col-md-1" style="border:0px solid blue;padding:0px;">
					<button type="submit" class="btn btn-info pull-right">Close</button>
				</div>				
				-->
			</div>
		</div>	
		{% endif %}
		<!-- FOOTER -->
		<hr>
		<div class="footer" style="position:absolute;">
			<p>&copy; 2014 Morningstar, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'IssueTrackingSystem/dist/js/jquery.js' %}"></script>
		<script src="{% static 'IssueTrackingSystem/dist/js/bootstrap.min.js' %}"></script>
	</body>
</html>
