<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'IssueTrackingSystem/images/favicon.png' %}">
		<title>Issue Tracker</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'IssueTrackingSystem/dist/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{% static 'IssueTrackingSystem/custom_css/carousel.css' %}" rel="stylesheet">
		<link href="{% static 'IssueTrackingSystem/custom_css/app.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="container menucontainer">
			<div class="col-md-6">
				<ul class="nav nav-pills">
					<li><a href="/IssueTrackingSystem/dashboard">Dashboard</a></li>
					{% if 'ADM' == request.session.LOGGED_IN_USER_ROLE %}
						<li><a href="/IssueTrackingSystem/home">Home</a></li>
					{%endif%}
					<li><a href="/IssueTrackingSystem/openQueries">Open Queries</a></li>
					<li><a href="/IssueTrackingSystem/resolvedQueries">Resolved Queries</a></li>
					<li class="active"><a href="#">Post Query</a></li>
				</ul>	
			</div>
			<div class="col-md-4" style="border:0px solid red;padding:10px;text-align:center;font-family: cursive">
				<!--<div style="font-size:14px;position:absolute;valign:center;border:1px solid red;">Welcome, Binesh</div>	-->
				<span style="">Welcome, {{user.first_name}}</span>	
			</div>
			<div class="col-md-2" style="border:0px solid red">
				<ul class="nav nav-pills pull-right">
					<li class="active"><a href="/IssueTrackingSystem/logout">Logout</a></li>
				</ul>	
			</div>
		</div>
		<div class="container queryform">
			<form class="form-horizontal" role="form" method="post" action="/IssueTrackingSystem/saveFile" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row" style="border:0px solid red;">
					<div class="col-md-10 col-md-offset-1">
						<div class="form-group">
							<label class="col-sm-3 control-label" for="attachment">Attachment(max. 1MB)</label>
							<div class="col-sm-5">
								<input type="file" name="file" id="attachment" class="form-control filestyle" data-input="false">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8" style="text-align:right">
						<div class="form-group">
							<button type="reset" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- FOOTER -->
		<hr>
		<div class="footer"  style="position:absolute;">
			<p>&copy; 2014 Morningstar, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'IssueTrackingSystem/dist/js/jquery.js' %}"></script>
		<script src="{% static 'IssueTrackingSystem/dist/js/bootstrap.min.js' %}"></script>
	</body>
</html>
